:root {
    --sidebar-color: #58b48c;
    --header-font: 'Inter', sans-serif;
    --body-font: 'Barlow', sans-serif;
    --gray-background:  #F5F5F5;
}

.about-me-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "about-me-content about-me-image";
    background-color: var(--gray-background);
    height: 100%;
}

.about-me-content {
    grid-area: about-me-content;
    padding-left: 100px;
    padding-top: 30px;
}


.about-me-content h5 {
    width: 600px;
    font-family: var(--body-font);
    font-size: 1.5em;

}

.title {
    width: 600px;
    
    font-family: var(--header-font);
    font-size: var(--font-size);

}

.about-me-image {
    grid-area: about-me-image;
    padding-top: 30px;
    margin-bottom: 100px;

}

.about-me-photo {
    height: 280px;
    width: 500px;
    margin: 0 auto;
    border: 1px solid black;
}

.profile-buttons {
    width: 600px;
    margin-top: 30px;
}

.profile-buttons button {
    width: 160px;
    border-radius: 0.15em;
    padding: 0.3em 0.5em;
    text-decoration: none;
    font-family: var(--body-font);
    background-color: var(--sidebar-color);
    color: white;
    font-weight: bold;
    border: none;
    font-size: 18px;
}

.profile-buttons i {
    margin-right: 10px;
}

.portfolio-button {
    margin-right: 20px;
}

#hire-me-button {
    background-color: gray;
}



@media only screen and (max-width: 800px) {

  .about-me-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: "about-me-image" "about-me-content";
  }

  .about-me-content {
    padding-left: 0px;
    text-align: center;
    padding-top: 0px;
  }

  .about-me-content h5 {
    width: 300px;
    text-align: center;
    margin: 0 auto;
  }

 .about-me-image {
   margin-bottom: 10px;
   width: 80%;
   margin: 0 auto;
   padding-top: 10px;
 }

  .about-me-photo {
    width: 100%;
    text-align: center;
  }

  .title {
    width: 100%;
    margin-top: 5px;
    border: none;
  }

  .profile-buttons {
    width: 100%;
    background-color: var(--gray-background);
  }


}
