
.grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 0.2fr;
    grid-template-areas:  "sidebar about-me about-me about-me about-me about-me"
                          "sidebar projects projects projects projects projects"
                          "sidebar skills skills skills skills skills"
                          "sidebar footer footer footer footer footer"

}

.sidebar {
    background-color: #58b48c;
    grid-area: sidebar;
}

.footer {
    background-color: white;
    grid-area: footer;

}

.skills {
    background-color: chocolate;
    grid-area: skills;

}

.about-me {
    background-color: aqua;
    grid-area: about-me;

}

.projects {
    background-color: white;
    grid-area: projects;

}


@media (max-width: 800px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:  "sidebar" "about-me" "projects";

    }

    .projects {

    }

    .footer {
        display: none;
    }

    .about-me {
    
    }

    .skills {
        display: none;
    }


}
