:root {
    --sidebar-color: #58b48c;
    --header-font: 'Inter', sans-serif;
    --body-font: 'Barlow', sans-serif;
}


.project-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr;
    grid-template-areas: "project-description project-description"
                         "recommerce news";
    padding-left: 100px;
}

.project-description {
    grid-area: project-description;
}

.project-description h3{
    border-left: 5px solid var(--sidebar-color);
    padding-left: 10px;
    margin-top: 20px;
    font-family: var(--header-font);
}

.project-description p {
    font-family: var(--body-font);
}

.card-title {
    font-family: var(--header-font);
    margin-left: 5px;
    margin-top: 5px;
}

.card-text {
    font-family: var(--body-font);
}

.recommerce {
    grid-area: recommerce;
}

.news {
    grid-area: news;
}

.project-cards {
    width: 500px;
    border: 1px solid black;
}

.project-cards button {
    border-color: var(--sidebar-color);
    background-color: white;
    color: var(--sidebar-color);
    transition: background-color 0.5s ease;
    font-family: var(--body-font);
}

.project-cards button:hover {
    background-color: var(--sidebar-color);
    border-color: var(--sidebar-color);

}

.project-link {
    color: var(--sidebar-color);
}

.project-cards button {
    width: 100%;
}

#note {
    font-weight: bold;
    text-decoration: underline;
}