:root {
    --sidebar-color: #58b48c;
    --header-font: 'Inter', sans-serif;
    --body-font: 'Barlow', sans-serif;
    --darker-font: #408567;
}

.sidebar-grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "sidebar-top-content"
                         "sidebar-middle-content"
                        "sidebar-bottom-content";
    color: white;
}

#name {
    font-family: var(--header-font);
    font-size: 28px;
}

#links-header {
    font-family: var(--header-font);
    font-size: 28px;
}

.header {
    font-family: var(--body-font);
    font-size: 19px;
    width: 300px;
    margin: 0 auto;
}

.sidebar-top-content {
    background: var(--sidebar-color);
    grid-area: sidebar-top-content;
    padding-top: 30px;    
   
}

.border {
    border-bottom: 1px solid var(--darker-font);
    width: 90%;
   margin: 0 auto;
   margin-top: 15px;
   border-radius: 5px;
}



.sidebar-middle-content {
    background: var(--sidebar-color);
    grid-area: sidebar-middle-content;
}

.sidebar-bottom-content {
    background: var(--sidebar-color);
    grid-area: sidebar-bottom-content;
}


.top-container {
    text-align: center;
    padding-top: 10px;
}

.top-container img {
    height: 150px;
    width: 150px;
    border: 2px solid #555;
}

.top-container h4 {
    width: 300px;
    font-size: 20px;
    margin: 0 auto;
}

.middle-container {
    padding-top: 10px;
    text-align: center;
    
}

.middle-container ul {
    text-align: left;
    list-style-position: inside;
    width: 150px;
    margin-left: 130px;
    font-size: 1.5em;
    
}

.middle-container li {
    padding-top: 10px;
}

.links {
    text-decoration: underline;
    color: white;
}

.links:hover {
    color: #408567;
}