:root {
    --sidebar-color: #2fcc9d;
    --text-font: 'Lato', sans-serif;
}

.sidebar-grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "sidebar-top-content"
                         "sidebar-middle-content"
                        "sidebar-bottom-content";

    font-family: 'Lato', sans-serif;
    color: white;
    
}

.sidebar-top-content {
    background: var(--sidebar-color);
    grid-area: sidebar-top-content;
   
}

.sidebar-middle-content {
    background: var(--sidebar-color);
    grid-area: sidebar-middle-content;
}

.sidebar-bottom-content {
    background: var(--sidebar-color);
    grid-area: sidebar-bottom-content;
}


.top-container {
    text-align: center;
    padding-top: 10px;
}

.top-container img {
    height: 150px;
    width: 150px;
    border: 2px solid #555;
}

.top-container h4 {
    width: 300px;
    font-size: 20px;
    margin: 0 auto;
}

.middle-container {
    padding-top: 10px;
    text-align: center;
    
}

.middle-container ul {
    text-align: left;
    list-style-position: inside;
    width: 150px;
    margin: 0 auto;
  
}