:root {
    --sidebar-color: #58b48c;
    --header-font: 'Inter', sans-serif;
    --body-font: 'Barlow', sans-serif;
}


.skills-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1fr;
    grid-template-areas: "mini-bio mini-bio mini-bio mini-bio"
                         "card-javascript card-java card-react card-css-html";

    background-color: white;
    padding-left: 100px;
    padding-top: 20px;
}

.skills-div p {
    font-family: var(--body-font);
}
  

.mini-bio {
    grid-area: mini-bio;
    margin-bottom: 15px;
}

.mini-bio h3 {
    border-left: 5px solid var(--sidebar-color);
    padding-left: 10px;
    margin-top: 20px;
    font-family: var(--header-font);
}

.mini-bio p {
    font-family: var(--body-font);
}

.card-javascript{
    grid-area: card-javascript;
  
}

.card-javascript i {
    color: #e9d716;
}

.card-java {
    grid-area: card-java;
}

.card-java i {
    color: #5382a1;
}

.card-react {
    grid-area: card-react;
}

.card-react {
    color: #61dbfb;
}

.card-css-html {
    grid-area: card-css-html;
}



.icon-name {
    font-size: 0.3em;
    display: block;
}

.html-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "html-icon css-icon"
                          "html-description html-description";
}


.html-icon {
    grid-area: html-icon;
    color: #f16528;
    
}

.css-icon {
    grid-area: css-icon;
    color: #008fd5;
}

.html-description {
    grid-area: html-description;
}

.cards p {
 
    margin-top: 30px;
}